
<a id="YoutubePopup" href="https://www.youtube.com/watch?v=G4FCMCFgB5M">Youtube - Perucetus</a>

<br />
<a id="VimeoPopup" href="https://vimeo.com/572774343">Vimeo - Oceano Pacífico</a>

<br />
<a id="MapsPopup" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.5069854700723!2d-77.0396200241044!3d-12.077404942473695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8f3b35e0431%3A0x21e64c7daa8080b0!2sMuseo%20de%20Historia%20Natural%20UNMSM!5e0!3m2!1ses!2spe!4v1701576373741!5m2!1ses!2spe">Google Maps - Museo Historia Natural</a>

@section scripts {
    <script src="~/views/videos/index.js"></script>
}
