ul.listado {
	list-style-type: circle;
}

h3.subrayado {
	text-decoration: underline;
}

.alienado-derecha {
    text-align: right;	
	width: 75%
}

.textbox {
	width:150px;
	font-size: 13.5px;/* Soporta decimales */
}

.numeros-romanos {
	list-style-type: upper-roman;
}

.Verdana {
    font-family: Verdana;
}

.Times {
    font-family: "Times New Roman", Times	
}

.LucidaConsole {
	font-family: "Lucida Console" /*Todas las letras tienen el mismo ancho*/
}

.Barlow {
	font-family: Barlow;
}

.Barlow-Condensed {
	font-family: "Barlow Condensed";
}

.roboto {
	font-family: Roboto;
	font-size:22px;
	color: red;
}

.romanos_minusculas{
	list-style-type: lower-roman;
}

.mas-grande{
	font-size: 1.5em;
}